<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>测试1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>293865231D23A26C005AF08D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2938653C1D23A26D005AF08D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>293865471D23A26D005AF08D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
