<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>第一税务所</key>
	<array>
		<dict>
			<key>name</key>
			<string>尹崇达</string>
			<key>phonename</key>
			<string>崇达</string>
			<key>phone</key>
			<string>15341329213</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李军</string>
			<key>phonename</key>
			<string>李军</string>
			<key>phone</key>
			<string>18981722823</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张永其</string>
			<key>phonename</key>
			<string>永其</string>
			<key>phone</key>
			<string>18683189789</string>
		</dict>
		<dict>
			<key>name</key>
			<string>何征</string>
			<key>phonename</key>
			<string>何征</string>
			<key>phone</key>
			<string>028-26639681</string>
		</dict>
		<dict>
			<key>name</key>
			<string>文启明</string>
			<key>phonename</key>
			<string>启明</string>
			<key>phone</key>
			<string>13541329213</string>
		</dict>
		<dict>
			<key>name</key>
			<string>杭枝山</string>
			<key>phonename</key>
			<string>枝山</string>
			<key>phone</key>
			<string>028-87829823</string>
		</dict>
		<dict>
			<key>name</key>
			<string>黄克钦</string>
			<key>phonename</key>
			<string>克钦</string>
			<key>phone</key>
			<string>028-26639681</string>
		</dict>
	</array>
	<key>政策法规科</key>
	<array>
		<dict>
			<key>phonename</key>
			<string>小雪</string>
			<key>name</key>
			<string>都小雪</string>
			<key>phone</key>
			<string>13540741957</string>
		</dict>
		<dict>
			<key>phonename</key>
			<string>岳辉</string>
			<key>name</key>
			<string>王岳辉</string>
			<key>phone</key>
			<string>028-87783669</string>
		</dict>
		<dict>
			<key>phonename</key>
			<string>学明</string>
			<key>name</key>
			<string>嫣学明</string>
			<key>phone</key>
			<string>028-87770760</string>
		</dict>
		<dict>
			<key>phonename</key>
			<string>文红</string>
			<key>name</key>
			<string>牟文红</string>
			<key>phone</key>
			<string>028-26639681</string>
		</dict>
		<dict>
			<key>phonename</key>
			<string>茂春</string>
			<key>name</key>
			<string>张茂春</string>
			<key>phone</key>
			<string>13882231008</string>
		</dict>
		<dict>
			<key>phonename</key>
			<string>建新</string>
			<key>name</key>
			<string>张建新</string>
			<key>phone</key>
			<string>13689011868</string>
		</dict>
	</array>
	<key>办公室</key>
	<array>
		<dict>
			<key>name</key>
			<string>尹崇达</string>
			<key>phonename</key>
			<string>崇达</string>
			<key>phone</key>
			<string>15341329213</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李军</string>
			<key>phonename</key>
			<string>李军</string>
			<key>phone</key>
			<string>18981722823</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张永其</string>
			<key>phonename</key>
			<string>永其</string>
			<key>phone</key>
			<string>18683189789</string>
		</dict>
		<dict>
			<key>name</key>
			<string>何征</string>
			<key>phonename</key>
			<string>何征</string>
			<key>phone</key>
			<string>028-26639681</string>
		</dict>
		<dict>
			<key>name</key>
			<string>文启明</string>
			<key>phonename</key>
			<string>启明</string>
			<key>phone</key>
			<string>13541329213</string>
		</dict>
		<dict>
			<key>name</key>
			<string>杭枝山</string>
			<key>phonename</key>
			<string>枝山</string>
			<key>phone</key>
			<string>028-87829823</string>
		</dict>
		<dict>
			<key>name</key>
			<string>黄克钦</string>
			<key>phonename</key>
			<string>克钦</string>
			<key>phone</key>
			<string>028-26639681</string>
		</dict>
	</array>
	<key>第九税务局</key>
	<array>
		<dict>
			<key>phonename</key>
			<string>小雪</string>
			<key>name</key>
			<string>都小雪</string>
			<key>phone</key>
			<string>13540741957</string>
		</dict>
		<dict>
			<key>phonename</key>
			<string>岳辉</string>
			<key>name</key>
			<string>王岳辉</string>
			<key>phone</key>
			<string>028-87783669</string>
		</dict>
		<dict>
			<key>phonename</key>
			<string>学明</string>
			<key>name</key>
			<string>嫣学明</string>
			<key>phone</key>
			<string>028-87770760</string>
		</dict>
		<dict>
			<key>phonename</key>
			<string>文红</string>
			<key>name</key>
			<string>牟文红</string>
			<key>phone</key>
			<string>028-26639681</string>
		</dict>
		<dict>
			<key>phonename</key>
			<string>茂春</string>
			<key>name</key>
			<string>张茂春</string>
			<key>phone</key>
			<string>13882231008</string>
		</dict>
		<dict>
			<key>phonename</key>
			<string>建新</string>
			<key>name</key>
			<string>张建新</string>
			<key>phone</key>
			<string>13689011868</string>
		</dict>
	</array>
</dict>
</plist>
